.img-responsive {
	margin: 0 auto;
}

.iconMain {
	width: 100px;
	height: auto;
}

.col-xs-4 {
	height: 100%;
	padding-top: 2em;
}

* {
	font-size: 100%;
	/*border: 1px solid red;*/
	font-family: 'Open Sans', sans-serif;
}

.app {
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.grad {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: linear-gradient(to bottom, rgba(134,226,213,0), rgba(134,226,213,1));
}

h5 {
	text-shadow: 0em 0em 3px black;
	font-size: 1.15em;
}

.popOut {
	box-shadow: 2px 3px 10px black;
	margin-bottom: 15px;
}

ul {
	list-style: none;
	display: flex;
	padding: 0;
}

li {
	text-align: center;
	width: 30%;
}

li.day {
	text-align: left;
	padding-left: 10%;
}

@media (min-width: 768px) {
	ul {
		flex-direction: column;
	}
	li {
		width: 100px;
	}
	li.day {
		text-align: center;
	}
h5 {
	text-shadow: 0em 0em 7px black;
	font-size: 2.15em;
}
.container {
  margin-top: 5em;
  max-width: 800px;
}
}
